<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name=".util.reminders.NotificationResetReceiver"
            android:enabled="false"
            tools:replace="android:enabled" />

        <receiver
            android:name=".util.reminders.AlarmPermissionReceiver"
            android:enabled="false"
            tools:replace="android:enabled" />
    </application>

</manifest>
