version: 2.1

orbs:
  android: circleci/android@1.0.3

jobs:

  build_debug:
    executor:
      name: android/android-machine
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - android/run-tests:
            test-command: ./gradlew assembleDebug assembleAndroidTest
      - android/save-gradle-cache
      - android/save-build-cache
      - store_artifacts:
          path: app/build/outputs/apk/
          destination: /apk/

  run_tests_get_coverage:
    working_directory: ~/src
    executor:
      name: android/android-machine
    steps:
      - checkout
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 -di > gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            gcloud auth activate-service-account presently-cicd-service-account@gratitude-journal-app.iam.gserviceaccount.com --key-file gcloud-service-key.json
            gsutil version -l
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Build
          command: ./gradlew -Pcoverage assembleDebug assembleDebugAndroidTest --stacktrace
      - run:
          name: Test with Firebase Test Lab
          command: ./gradlew runFlank
      - run:
          name: Copy all coverage.ec files to their respective build output package
          command: ./coverage_mover.sh
      - run:
          name: Generate JaCoCo report
          command: ./gradlew jacocoFullReport
      - android/save-gradle-cache
      - android/save-build-cache
      - store_artifacts:
          path: build/fladle/
          destination: fladle/
      - store_artifacts:
          path: build/reports/
          destination: results/
      - store_test_results:
          path: build/

workflows:
  version: 2
  workflow:
    jobs:
      - build_debug
      - run_tests_get_coverage:
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/